# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp

# Test coverage
coverage/

# Temp files
tmp/
temp/

# Environment variables
.env
.env.local
.env.*.local

# NPM lock files (optional, if you're using Yarn)
package-lock.json
